@import "../css/depend/mReset.css";
@import "../css/common.css";
#wsyIndexWrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#wsyIndexWrap .wsy-top-banner {
  position: relative;
}
#wsyIndexWrap .wsy-top-banner .swiper-container {
  height: 180px;
}
#wsyIndexWrap .wsy-top-banner .swiper-slide {
  height: 180px;
}
#wsyIndexWrap .wsy-top-banner .img-box {
  height: 180px;
}
#wsyIndexWrap .wsy-top-banner .img-box .img-detail {
  height: 180px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
#wsyIndexWrap .wsy-top-banner::after {
  content: "";
  position: absolute;
  z-index: 9999;
  bottom: -12px;
  height: 25px;
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
#wsyIndexWrap .main-section {
  flex: 1;
  background-size: 100vw auto;
  background-position: top left;
  background-repeat: no-repeat;
}
#wsyIndexWrap .main-section .menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}
#wsyIndexWrap .main-section .menu-item {
  margin-top: 20px;
  width: 33.33%;
}
#wsyIndexWrap .main-section .link-text {
  position: relative;
  overflow: hidden;
  width: 65px;
  height: 65px;
  margin: 0 auto;
  background-color: #eeeeee;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#wsyIndexWrap .main-section .img-show {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
#wsyIndexWrap .main-section label {
  font-size: 17px;
  line-height: 2;
}
#wsyIndexWrap .swiper-pagination {
  bottom: 20px;
  z-index: 100000;
}
#wsyIndexWrap .swiper-pagination-bullet-active {
  background-color: #228cff;
}
